body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}
main{
    margin: auto;
    width: 60%;
    justify-items: center;
    margin-top: 50px;
}
#container-list{
    width: 100%;
    min-height: 100px;
    justify-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.049);
    color: rgba(255, 255, 255, 0.400);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.215);
    h1{
        margin: 0;
        margin-bottom: 10px;
    }
    input{
        background-color: transparent;
        border: 2px dashed rgba(255, 255, 255, 0.400);
        padding: 5px;
        color: rgba(255, 255, 255, 0.700);
    }
    button{

        padding: 5px;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.400);
        border: 2px dashed rgba(255, 255, 255, 0.400);

    }
    
}
ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.805);
    border: 2px dashed rgba(255, 255, 255, 0.400);
    text-align: center;
    width: 100%;
    border-radius: 8px;
    
}
li:hover{
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.215);
}
.caixa-acoes{
    display: flex;
    padding: 10px;
    height: 30px;
    justify-content: center;
    justify-content: space-around;
    
    
}
.span{
    display: inline-block;
    margin-top: 10px;
    font-size: 1.5rem;
        /* 1. Permite que o texto quebre linhas se for muito longo */
    word-break: break-word; 
    overflow-wrap: break-word;

    /* 2. Permite que o elemento encolha dentro do flexbox em vez de vazar */
    flex: 1; 
    min-width: 0;
}
.button-excluir{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.400);
    border: 2px dashed rgba(255, 255, 255, 0.400);
}
.button-edit{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.400);
    border: 2px dashed rgba(255, 255, 255, 0.400);
}

.checkbox{
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px dashed rgba(255, 255, 255, 0.400);
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;             
    display: flex;                  
    align-items: center;
    justify-content: center;
}
.checkbox:checked{
  border: 2px solid rgba(255, 255, 255, 0.400) ; 
}
.checkbox:checked::after {
  content: '\2713';               
  color: #ffffff;          
  font-weight: bold;         
  position: absolute;         
}
@media (max-width: 767px){
    main{
    margin: auto;
    width: 95%;
    justify-items: center;
    margin-top: 50px;
    }

    #input-container{
        display:flex ;
        flex-direction: column;
        gap: 10px;
    }
}